{% extends "blog_post/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my awesome Blog </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                 <div class="card mb-4">
                    <div class="card-body">
                    {% if post.image %}
                        <div><center><img src="{{ post.image.url }}"></center></div>
                    {% endif %}
                        <a href="{{ post.get_absolute_url }}" class="blog__title">{{ post.title }}</a>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_at}} </p>
                        <p class="card-text">{{post.content|safe|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More</a>
                        <p class="blog__description">{{ post.description }}</p>
                        <p class="blog__footer">{{ post.pub_date|date }}</p>
                    </div>
                 </div>
            </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
        <div class="blog__pagination">
            {% if page_obj.has_previous %}
                <a href="{% url 'post_list' %}?page={{ page_obj.previous_page_number }}"><<</a>
            {% endif %}
                <span class="page-current">
                    {% blocktrans with num=page_obj.number num_pages=page_obj.paginator.num_pages %}
                        Page {{ num }} of {{ num_pages }}
                    {% endblocktrans %}
                </span>
            {% if page_obj.has_next %}
                <a href="{% url 'post_list' %}?page={{ page_obj.next_page_number }}">>></a>
            {% endif %}
        </div>
    {% endif %}
    {% block sidebar %} {% include 'blog_post/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{%endblock%}
