{% extends 'base.html' %}

{% block content %}
<style>
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button[type="submit"] {
  padding: 10px 20px;
  border-radius: 4px;
}

.form-container button {
  display: block;
  margin: 0 auto;
}
</style>
<br>
<div class="form-container">
    <h1 style="text-align: center">Login</h1>
  <form method="post" action="{% url 'login-view' %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-outline-primary">Login</button>
  </form>
</div>
{% endblock %}